# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Compiled binary addons
build/Release

# Crashlytics 
crashlytics.properties
crashlytics-build.properties

# Temporary files
.tmp/

# macOS files
.DS_Store

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker files
.docker